<footer class="footer bg-light py-5 mt-auto">               <!--background light with padding of 5. Mt-auto moves the margin top pushing the footer to the bottom of the page-->
    <div class="container">
        <span class="text-muted">&copy; Restaurant Land 2021</span>
    </div>
</footer>